<div class="container header">
        <h2>Welcome, 
            {{#if posts.login}}
                {{posts.username}}
            {{else}}
                Guest
            {{/if}}
        </h2>
</div>
<div class="container">
    <div>
        <select name="categories" id="categ">
            <option value="">Pick a category</option>
        {{#each posts.categories as |c|}}
            <option value={{c.category_name}}>{{c.category_name}}</option>
        {{/each}}
    </select>
        <button class="shortlist">Search</button>
    </div>
    <br>
    {{#if posts}}
        <div class="">
            <ol class="container posts">    
            {{#each posts.posts as |post| }}
                <div class="card {{post.category.category_name}}">
                    <div class="card-header">
                        <div class="d-flex justify-content-between ">
                            <div><a href="/singlePost/{{post.id}}">{{post.title}} </a> by {{post.user.username}}
                            
                            </div> <div> {{post.date}}</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-text">{{post.description}}</h4>  
                    </div>            
                </div>
                <br>
            {{/each}}
            </ol>
        </div>
    {{else}}
        <h1>No posts to display</h1>
    {{/if}} 
</div>

<script src="/js/homepage.js"></script>